<html ng-app="app.index">
<head>
	<meta charset="UTF-8">
	<title>Instagram</title>
	<link rel="stylesheet" type="text/css" href="/content/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/content/app.css">
</head>
<body>

<h1>Index</h1>

<%= user.name %>

<a href="/images?tag=palmeiras">Palmeiras</a>
<a href="/images?tag=casamento">Casamento</a>
<a href="/images?tag=maringa">Maringá</a>

</body>
</html>