<html>
<head>
	<meta charset="UTF-8">
	<title>EmotionShare</title>
	<link rel="stylesheet" type="text/css" href="/content/semantic/css/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/content/app.css">
</head>
<body>



    <div class="container">

		<a href="/auth/instagram"class="ui instagram button">
		  <i class="instagram icon"></i>
		  Instagram
		</a>
		<a href="/auth/facebook" class="ui facebook button">
		  <i class="facebook icon"></i>
		  Facebook
		</a>
    </div><!-- /.container -->

<script type="text/javascript" src="/scripts/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/vendor/angular.min.js"></script>
<script type="text/javascript" src="/scripts/app/controllers/index.js"></script>
</body>
</html>
